@import "tailwindcss";

:root {
  --background-1: rgb(195, 195, 195);
  --background-2: rgb(230, 230, 230);
  --header-1: rgb(235, 235, 235);
  --header-2: rgb(205, 205, 205);
  --foreground: rgb(0, 0, 0);
  --text: rgb(255, 255, 255);
}

@theme inline {
  --color-background-1: var(--background-1);
  --color-background-2: var(--background-2);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-lexend);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-1: rgb(20, 20, 20);
    --background-2: rgb(55, 55, 55);
    --header-1: rgb(60, 60, 60);
    --header-2: rgb(30, 30, 30);
    --foreground: rgb(255, 255, 255);
    --text: rgb(0, 0, 0);
  }
}

body {
  background-attachment: fixed;
  color: var(--foreground);
}

:global(.reorderableList) > div {
  flex-grow: 1;
}
